* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", sans-serif;
}

/* ---------- BACKGROUND ---------- */
body {
  min-height: 100vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eedee9;
  perspective: 800px;
}

.admin{
  background-color: #dee8ee;
}

.adminB {
  background: #0053e3;
}

.adminB:hover {
  background: #0036b5;
}

/* example: only move/scale/rotate Z/Y, NOT rotateX */



.heart {
 position: absolute;
  top: -40%;
  right: -20%;
  width: 50px;
  height: 50px;
  background: #cc333f;
  transform: rotate(-10deg);
  z-index: 5;

  animation-duration: 3s;
  animation-name: floatUp;
  animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}



#heart.one {
  position: absolute;
  top: -40%;
  right: 100%;
  width: 50px;
  height: 50px;
  background: #cc333f;
  transform: rotate(-10deg);
  z-index: 5;

  animation-duration: 3s;
  animation-name: floatUpOne;
  animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;


}

#heart.two {
  position: absolute;
  top: 100%;
  right: 20%;
  width: 50px;
  height: 50px;
  background: #cc333f;
  transform: rotate(-50deg);
  z-index: 5;

  animation-duration: 3s;
  animation-name: floatUpTwo;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

  transform-style: preserve-3d;
  backface-visibility: hidden;

}



@keyframes floatUpOne {
  0% {
    transform: rotate(-45);
    opacity: 0;
    scale: 0.5;
  }

  50% {
    scale: 1.5;
    opacity: 1;
    transform: rotate(-360deg) ;
  }

  70% {
    scale: .5;
  }

  100% {
    transform:  rotate(-60deg);
  }
}

@keyframes floatUp {
  0% {
    transform: rotate(-45);
    opacity: 0;
    scale: 0.3;
  }

  50% {
    scale: 1.5;
    opacity: 1;
    transform: rotate(-480deg) ;
  }

  70% {
    scale: .5;
  }

  100% {
    transform:  rotate(-360deg);
    
    
  }
}

@keyframes floatUpTwo {
  0% {
    transform:  rotate(-45);
    opacity: 0;
    scale: 0.3;
  }

  50% {
    scale: 1.5;
    opacity: 1;
    transform:  rotate(-340deg) ;
  }

  70% {
    scale: .5;
  }

  100% {
    transform:  rotate(-400deg);
    
    
  }
}


#heart::before,
#heart::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: #cc333f;
  border-radius: 50%;
}

#heart::before {
  top: -25px;
  left: 0;
}


#heart::after {
  left: 25px;
  top: 0;
}

#newLetter {
  
  position: absolute;
  top: -25px;     /* move UP outside */
  right: -25px;   /* move RIGHT outside */
  width: fit-content;
  background: #ff00fb;
  scale: 0.75;

  animation-duration: 1s;
  animation-name: attention;
  animation-timing-function: ease-in-out;
  
}

#newLetter:hover{
  scale:1.01 ;
  transform: rotate(8deg);
  background: #b5006d;
  
}


@keyframes attention {
  0%{

  }

  50%{
    transform: rotate(30deg);
    scale: 1.1;
  }

  60%{
    transform: rotate(-30deg);
    scale: 1.1;
  }

  70%{
    transform: rotate(-30deg);
    scale: 1.1;
  }

  100%{
  }

}



/* ---------- CARD (main UI box) ---------- */

#lether {
  width: 650px;
  padding: 15px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: center;
}

#menu {
   position: relative;
  width: fit-content;   
  max-width: 350px;  
  padding: 25px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: center;
}

#backBtn {
  width: 50%;
}

#adminMenu {
  display: block;
  width: 350px;
  padding: 25px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: center;
}

#sendLetterSec {
  display: none;
  width: 350px;
  padding: 25px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: center;
}







/* ---------- BUTTONS ---------- */
button {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border: none;
  border-radius: 12px;
  background: #e300c1;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #b5006d;
  scale: 1.1;
}

/* ---------- INPUTS ---------- */
input, textarea {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 12px;
  border: none;
  background: #f1f1f1;
  font-size: 14px;
}

textarea {
  height: 120px;
  resize: none;
}

/* ---------- ENVELOPE GRID ---------- */
#envelopeContainer {
  width: 1300px;
  padding-top: 200px;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
}

/* ---------- ENVELOPE ---------- */
.wrapper {
  isolation: isolate;
  width: 220px;
  height: 150px;
  position: relative;
  cursor: pointer;
  transition: transform 0.4s ease;
}

/* lid */
.lid {
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 110px solid transparent;
  border-right: 110px solid transparent;
  border-bottom: 75px solid transparent;
  transform-origin: top;
  transition: 0.4s ease;
  transition: transform 0.4s ease;

}

.lid.one {
  border-top: 75px solid #f9d2fb;
  transform: rotateX(0deg);
  z-index: 4;
  transition-delay: 1s;
}

.lid.two {
  border-top: 75px solid #fc59f1;
  transform: rotateX(90deg);
  z-index: 2;
  transition-delay: 0.75s;
}

/* hover animation */
.wrapper:hover .lid.one {
   transform: rotateX(90deg);
    transition-delay: 0s;
}

.wrapper:hover .lid.two {
  transform: rotateX(180deg);
    transition-delay: 0.25s;
}

/* envelope body */
.envelope {
  position: absolute;
  inset: 0;
  border-left: 110px solid #f3bcf3;
  border-right: 110px solid #f5b9f1;
  border-bottom: 75px solid #f2aff9;
  z-index: 3;
  transition: transform 0.4s ease; 
  
}




/* letter */
.letter {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  top: 10px;
  height: 70%;
  background: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  transition: 0.5s ease;
  transition-delay: 0.5s;

  z-index: 2;
}

/* letter rises */
.wrapper:hover .letter {
  top: -60%;
}

.wrapper:hover {
  transform: translateY(20px) scale(1.02);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}



.lidO {
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 110px solid transparent;
  border-right: 110px solid transparent;
  border-bottom: 75px solid transparent;
  transform-origin: top;
  transition: 0.4s ease;
  transition: transform 0.4s ease;

}

.lidO.one {
  border-top: 75px solid #d2fbec;
  transform: rotateX(0deg);
  z-index: 4;
  transition-delay: 1s;
}

.lidO.two {
  border-top: 75px solid #59fc82;
  transform: rotateX(90deg);
  z-index: 2;
  transition-delay: 0.75s;
}

/* hover animation */
.wrapper:hover .lidO.one {
   transform: rotateX(90deg);
    transition-delay: 0s;
}

.wrapper:hover .lidO.two {
  transform: rotateX(180deg);
    transition-delay: 0.25s;
}

/* envelope body */
.envelopeO {
  position: absolute;
  inset: 0;
  border-left: 110px solid #bcedf3;
  border-right: 110px solid #b9f5e0;
  border-bottom: 75px solid #aff9b3;
  z-index: 3;
  transition: transform 0.4s ease; 
  
}


/* ---------- LETTER VIEW ---------- */
#letterSection {
  display: none;
  flex-direction: column;
  align-items: center;
}

#letterTitle {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

#fullLetter {

  font-size: 15px;
  background-color: #eedee9;
  color: #333;
  margin-top: 10px;
  padding: 10px;


}

.openBtn{
  position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    font-size: 14px
}

.sendTo{
align-self: flex-start; /* move to left side */
  margin-left: 10px;
  font-size: 12px;
}

.sendFrom{
align-self: flex-start; /* move to left side */
  margin-left: 10px;
  font-size: 12px;
}

.number {
  margin: auto;
  z-index: 3;

}

#letterPage{
  display:none;
  
}

#backToM {
  position: absolute;
  top: 10%;
  right: 10%;
  width: fit-content;
  z-index: 10;
}